<BsForm {{on 'submit' this.submit}} as |form|>
  <form.group>
    <label for="gamepadSelect">GamepadID</label>
    <select class="form-control" id="gamepadSelect" {{on 'change' this.changeGamepadId}}>
      {{#each this.axes as |axis|}}
        <option selected={{if (eq axis this.settings.gamepadId) "selected"}}>{{axis}}</option>
      {{/each}}
    </select>
  </form.group>
  <form.group>
    <label for="AccAxeSelect">Acceleration Axe ({{this.gamepad.accValue}})</label>
    <select class="form-control" id="AccAxeSelect" value={{this.settings.accAxis}} {{on 'change' this.changeAccAxis}}>
      {{#each this.axes as |axis|}}
        <option selected={{if (eq axis this.settings.accAxis) "selected"}}>{{axis}}</option>
      {{/each}}
    </select>
  </form.group>
  <form.group>
    <label for="BrakeAxeSelect">Brake Axe ({{this.gamepad.brakeValue}})</label>
    <select class="form-control" id="BrakeAxeSelect" value={{this.settings.brakeAxis}} {{on 'change'
      this.changeBrakeAxis}}>
      {{#each this.axes as |axis|}}
        <option selected={{if (eq axis this.settings.brakeAxis) "selected"}}>{{axis}}</option>
      {{/each}}
    </select>
  </form.group>
  <form.submitButton>Save</form.submitButton>
</BsForm>
